.contact-page {
  width: 100%;
  height: 100vh;
  background: url("../assets/contactbg.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  /* width: 100%; */
  padding: 50px;
}

.contact-info {
  max-width: 50%;
}

.contact-info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: rgba(33, 218, 219, 0.3);
  color: white;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-submit-btn {
  background-color: #21dadb;
  color: #001f3f;
  width: 105%;
  padding: 12px 10px;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.contact-submit-btn:hover {
  background-color: #b5b7b9;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    overflow-x: hidden;
  }

  .contact-info {
    max-width: 100%;
    margin-top: 100px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .contact-submit-btn {
    width: 105%;
  }
}

@media screen and (max-width: 768px) {
  .contact-info h1 {
    font-size: 2rem;
  }

  .contact-info p {
    font-size: 0.9rem;
  }

  .contact-form {
    width: 100%;
  }

  .contact-submit-btn {
    width: 105%;
  }
}
